@keyframes slidedown {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

.alert {
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  max-inline-size: 300px;
  margin-inline: auto;
  padding-inline: 1rem;
  border: 2px solid lightskyblue;
  font-weight: 900;
  color: lightskyblue;
  transition: all 0.2s;

  &,
  &--success,
  &--error {
    animation: 1s forwards slidedown;
  }
}
